<html>
	<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<!-- optional -->
	<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<!--<script src="http://code.highcharts.com/modules/exporting.js"></script>-->
	<div id="container" style="min-width: 310px; height: 1000px; margin: 0 auto"></div>
	 <script>
		$(document).ready(function() {
			var options = {
				chart: {
					zoomType: 'xy', 
					height: '75%',
				},
				boost: {
					useGPUTranslations: true,
					usePreAllocated: true
				},
				//xAxis: {
				//	min: 309000,
				//	max: 325000,
				//	gridLineWidth: 1,
				//	title: {
				//		text: "Run"
				//	}
				//},
				//yAxis: {
				//	// Renders faster when we don't have to compute min and max
				//	min: 50,
				//	max: 75,
				//	minPadding: 0,
				//	maxPadding: 0,
				//	title: {
				//		text: "Average TDCTime [ns]"
				//	}
				//},

				title: {
					text: '{{ title }}'
				},

				xAxis: {
					title: {
						text: "{{ x_title }}"
					},
				},
				yAxis: {
					title: {
						text: "{{ y_title }}"
					},
				},

				//legend: {
				//	align: 'right',
				//	verticalAlign: 'top',
				//	borderWidth: 0
				//},

				exporting: {
					sourceWidth: 1200,
					sourceHeight: 800,
				},
			};

			var data = JSON.parse('{{ json_data | tojson | safe}}');
        	options.series = data;
			Highcharts.chart('container', options);
		});
	</script>         
	</head>
	<body>
	</body>
</html>
